# folder
.vscode

# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy

# ignore venv
.venv/
venv/

# ignore zip-files (pretrained models)
*.zip

# ignore jupyter files
.ipynb_checkpoints/

# ignore local log-files
*.log

# ignore output folder (from eval)
output/
